<p id="booklistitem_coponent.html.erb_p" style="color: green"><%= helpers.notice %></p>
<%= helpers.turbo_frame_tag @proxy  do %>
    <div id="Z" class="container" >
    <div id="Y" class="row py-2 border-top" >
    <div id="x" class="col-sm"><%= @proxy.purchase_date %></div>
    <div class="col-sm"><%= @proxy.id %></div>
    <div class="col-sm"><%= @proxy.totalID %></div>
    <div class="col-sm-4"><%= @proxy.title %></div>
    <div class="col-sm"><%= @proxy.asin %></div>
    <div class="col"><%= @proxy.shape %></div>
    <div class="col"><%= @proxy.read_status %></div>
    <div class="col-sm"><%= @proxy.category %></div>
    <div class="col"><%= button_to "削除", @proxy, method: :delete, class: "btn btn-sm btn-outline-danger" %></div>
    <div class="col"><%= link_to "編集", helpers.edit_booklist_path(@proxy), class: "btn btn-sm btn-outline-primary me-2" %></div>
    </div>
    </div>
<% end %>
