<tr id="<%= dom_id booklistitem %>">
    <td><%= booklistitem.totalID %></td>
    <td><%= booklistitem.title %></td>
    <td><%= booklistitem.category %></td>
    <td><%= booklistitem.attributes %></td>
    <td><%= booklistitem.asin %></td>
    <td><%= booklistitem.read_status %></td>
    <td><%= booklistitem.shape %></td>
    <td><%= booklistitem.category %></td>
</tr>    
