<div>
    <table>
        <thead>
            <tr>
                <% @header.each do |col| %>
                <th scope="col"><%= col %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @body.each do |row| %>
            <tr>
                <% row.each do |col| %>
                  <% if col[:attr] == "" %>
                    <td>
                  <% else %>
                    <td width="<%= col[:attr] %>" >
                  <% end %>
                    <% if col[:str].instance_of?(String) %>
                        <%= col[:str] %>
                    <% elsif col[:str].instance_of?(Date) %>
                        <%= col[:str] %>
                    <% elsif col[:str].instance_of?(Integer) %>
                        <%= col[:str].class %>
                    <% elsif col[:str] == nil %>

                    <% else %>
                        <%= col[:str] %>
                    <% end %>
                    </td>
                <% end %>
            </tr>
            <% end %>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</div>
