<div id="<%= dom_id efg %>">
  <div class="row py-2 border-top">
  <div class="col-4 my-auto">
    <%= efg.zid %>
  </div>
  <div class="col-4 my-auto">
    <%= efg.s %>
  </div>
  <div class="col-4">
    <div class="d-flex justify-content-end">
      <%= link_to "編集", edit_efg_path(efg), class: "btn btn-sm btn-outline-primary me-2" %>
      <%= button_to "削除", efg, method: :delete, class: "btn btn-sm btn-outline-danger" %>
    </div>
  </div>
  </div>
</div>
