<%= form_with(model: efg) do |form| %>
  <% if efg.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(efg.errors.count, "error") %> prohibited this efg from being saved:</h2>

      <ul>
        <% efg.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :zid, style: "display: block" %>
    <%= form.number_field :zid %>
  </div>

  <div>
    <%= form.label :s, style: "display: block" %>
    <%= form.text_field :s %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
