<div id="<%= dom_id calibrelist %>">
  <p>a
    <strong>0 Title:</strong>
    <%= calibrelist.title %>
  </p>
  <p>b
    <strong>2 Series:</strong>
    <%= calibrelist.series %>
  </p>

  <p>c
    <strong>Authors:</strong>
    <%= calibrelist.authors %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= calibrelist.comments %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= calibrelist.tags %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= calibrelist.publisher %>
  </p>

  <p>
    <strong>Languages:</strong>
    <%= calibrelist.languages %>
  </p>

</div>
