<div id="<%= dom_id calibrelist %>">
  <p>
    <strong>Xid:</strong>
    <%= calibrelist.xid %>
  </p>

  <p>
    <strong>Xxid:</strong>
    <%= calibrelist.xxid %>
  </p>

  <p>
    <strong>Isnb:</strong>
    <%= calibrelist.isbn %>
  </p>

  <p>
    <strong>Zid:</strong>
    <%= calibrelist.zid %>
  </p>

  <p>
    <strong>Uuid:</strong>
    <%= calibrelist.uuid %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= calibrelist.comments %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= calibrelist.size %>
  </p>

  <p>
    <strong>Series:</strong>
    <%= calibrelist.series %>
  </p>

  <p>
    <strong>Series index:</strong>
    <%= calibrelist.series_index %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= calibrelist.title %>
  </p>

  <p>
    <strong>Title sort:</strong>
    <%= calibrelist.title_sort %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= calibrelist.tags %>
  </p>

  <p>
    <strong>Library name:</strong>
    <%= calibrelist.library_name %>
  </p>

  <p>
    <strong>Formats:</strong>
    <%= calibrelist.formats %>
  </p>

  <p>
    <strong>Timestamp:</strong>
    <%= calibrelist.timestamp %>
  </p>

  <p>
    <strong>Pubdate:</strong>
    <%= calibrelist.pubdate %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= calibrelist.publisher %>
  </p>

  <p>
    <strong>Authors:</strong>
    <%= calibrelist.authors %>
  </p>

  <p>
    <strong>Author sort:</strong>
    <%= calibrelist.author_sort %>
  </p>

  <p>
    <strong>Languages:</strong>
    <%= calibrelist.languages %>
  </p>

</div>
