<%= bootstrap_form_for(calibrelist) do |form| %>
<div class="row py-2 border-top">
  <div class="col-sm my-auto">
    <%= form.text_field :isbn %>
  </div>
  <div class="col-sm my-auto">
    <%= form.text_field :comments %>
  </div>
  <div class="col-sm my-auto">
    <%= form.text_field :title %>
  </div>
  <div class="col-sm my-auto">
    <%= form.text_field :tags %>
  </div>

  <div class="col-sm my-auto">
    <%= form.datetime_field :timestamp %>
  </div>

  <div class="col-sm my-auto">
    <%= form.text_field :publisher %>
  </div>

  <div class="col-sm my-auto">
    <%= form.text_field :authors %>
  </div>


  <div class="col-2 my-auto">
    <div class="d-flex justify-content-end">
      <% # Bootstrapのprimary色のsubmitボタン %>
      <%= form.primary button_name, { class: "btn btn-sm btn-outline-primary me-2" } %>
      <%= link_to "キャンセル", calibrelist, class: "btn btn-sm btn-outline-secondary" %>
    </div>
  </div>
  </div>
<% end %>
