<p style="color: green"><%= notice %></p>

<h1>Calibrelists</h1>

<div class="card shadow mt-3" >
  <div class="card-header">
  </div>
  <div class="card-body">
    <%= search_form_for(@search,
                        html: {
                          data: {
                            turbo_frame: "calibrelist-list",
                            controller: "form",
                            action: "input->form#submit",
                          },
                        }) do |f| %>
      <div class="row py-2 border-top">
        <div class="row py-2">
          <div class="col-1 my-auto" >
            <div class="row">
              <%= f.label :xid %>
              <%= f.search_field :xid_eq %>
            </div>
          </div>

          <div class="col-1 my-auto" >
            <div class="row">
              <%= f.label :comments %>
              <%= f.search_field :comments_cont %>
            </div>
          </div>

          <div class="col-1 my-auto" >
            <div class="row">
              <%= f.label :title %>
              <%= f.search_field :title_cont %>
            </div>
          </div>

          <div class="col-1 my-auto" >
            <div class="row">
              <%= f.label :tags %>
              <%= f.search_field :tags_cont %>
            </div>
          </div>
          <div class="col-1 my-auto" >
            <div class="row">
            <%= f.label :timestamp, style: "display: block" %>
            <%= f.date_field :timestamp_eq %>
            </div>
          </div>
          <div class="col-1 my-auto" >
            <div class="row">
              <%= f.label :publisher %>
              <%= f.search_field :publisher_cont %>
            </div>
          </div>
          <div class="col-1 my-auto" >
            <div class="row">
              <%= f.label :authors %>
              <%= f.search_field :authors_cont %>
            </div>
          </div>
          <div class="col-1 my-auto" >
            <div class="row">
            <%= f.label :readstatus_id, style: "display: block" %>
            <%= f.select :readstatus_id_eq, options_from_collection_for_select(@readstatus_list, :id, :name, 1), include_blank: false %>
            </div>
          </div>
          <div class="col-1 my-auto" >
            <div class="row">
            <%= f.label :category_id, style: "display: block" %>
            <%= f.select :category_id_eq, options_from_collection_for_select(@category_list, :id, :name, 1), include_blank: false %>
            </div>
          </div>

          <div class="col-2 d-flex align-items-end" >
            <%= f.submit "検索", class: "btn btn-outline-secondary" %>
            <%= link_to "クリア", booklists_path, class: "btn btn-outline-secondary" %>
          </div>
    <% end %>
  </div>
</div>

<div class="card-body mx-3">
  <%= turbo_frame_tag "booklist-list" do %>
    <div class="row py-2">
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :xid) %>
      </div>
      <div class="col-1 mt-auto">
        <%= sort_link(@search, :comment) %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :title) %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :tags) %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :timestamp) %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :publisher) %>
      </div>
      <div class="col-2 mt-auto">
        <%= sort_link(@search, :authoers) %>
      </div>
      <div class="col-1 mt-auto">
        <%= sort_link(@search, :category_id) %>
      </div>

      <div class="col-1 d-flex  align-items-end">
        <%= link_to "登録",
                    new_calibrelist_path,
                    class: "btn btn-outline-primary",
                    data: { turbo_frame: dom_id(Calibrelist.new) } %>
      </div>
    </div>

    <%= turbo_frame_tag Calibrelist.new %>

    <div id="calibrelists">
      <%= render @calibrelists %>
    </div>

    <div class="d-flex justify-content-end mt-3">
      <%= paginate @calibrelists %>
    </div>
  <% end %>
