<%= turbo_frame_tag @readinglist do %>

<%= bootstrap_form_for(
      @readinglist,
    ) do |form| %>
  <div class="row py-2 border-top">
    <div class="col-2 my-auto"" >
      <%= form.select :readstatus_id, readstatus_list %>
    </div>
  
    <div class="col-2 my-auto">
      <%= form.date_field :date %>
    </div>

    <div class="col-1 my-auto">
      <%= form.text_field :title %>
    </div>

    <div class="col-2 my-auto"" >
      <%= form.select :shape_id, shape_list %>
    </div>

    <div class="col-1 my-auto">  
      <%= form.text_field :isbn %>
    </div>

    <div class="col-2 my-auto">  
      <%= form.submit button_name, { class: "btn btn-sm btn-outline-primary me-2" } %>
    </div>
  </div>
<% end %>

<% end %>