<%= turbo_frame_tag readinglist do %>
  <div class="row py-2 border-top">
    <div class="col-2 my-auto">
      <%= readinglist.readingstatus.name %>
    </div>
    <div class="col-2 my-auto">
      <%= readinglist.date %>
    </div>
    <div class="col-3 my-auto">
      <%= readinglist.title %>
    </div>
    <div class="col-2 my-auto">
      <%= readinglist.shape.name %>
    </div>
    <div class="col-1 my-auto">
      <%= readinglist.isbn %>
    </div>
    <div class="col-2 my-auto">
      <div class="d-flex justify-content-end">
        <%= link_to "編集", edit_readinglist_path(readinglist), class: "btn btn-sm btn-outline-primary me-2" %>
        <%= link_to "削除", readinglist, class: "btn btn-sm btn-outline-danger", data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %>
      </div>
    </div>
  </div>
<% end %>
