<div id="<%= dom_id readinglist %>">
  <p>
    <strong>Register date:</strong>
    <%= readinglist.register_date %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= readinglist.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= readinglist.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= readinglist.status %>
  </p>

  <p>
    <strong>Shape:</strong>
    <%= readinglist.shape %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= readinglist.isbn %>
  </p>

</div>
