<p style="color: green"><%= notice %></p>

<%= render @abc %>

<div>
  <%= link_to "Edit this abc", edit_abc_path(@abc) %> |
  <%= link_to "Back to abcs", abcs_path %>

  <%= button_to "Destroy this abc", @abc, method: :delete %>
</div>
