<div id="<%= dom_id kindlelist %>">
  <p>
    <strong>Asin:</strong>
    <%= kindlelist.asin %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= kindlelist.title %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= kindlelist.publisher %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= kindlelist.author %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= kindlelist.publish_date %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= kindlelist.purchase_date %>
  </p>

</div>
