<p style="color: green"><%= notice %></p>

<h1>Kindlelists <% @kindlelist %> ABC <% @kindlelists %>DEF</h1>
<%= turbo_frame_tag "kindle_form" do %>
  <% if @kindlelist.nil? == false  %>
    <%= render "form_comp_0" , kindlelist: @kindlelist, shape_list: @shape_list, readstatus_list: @readstatus_list,  category_list: @category_list %>
  <% end %>
<% end %>
  <div class="card shadow mt-3" >
    <div class="card-header">
    </div>
    <div class="card-body">
      <%= search_form_for(@search,
                          html: {
                            data: {
                              turbo_frame: "kindlelist-list",
                              controller: "form",
                              action: "input->form#submit",
                            },
                          }) do |f| %>
        <div class="row py-2 border-top">
          <div class="row py-2">
            <div class="col-2 my-auto" >
              <%= f.label :purchase_date, style: "display: block" %>
              <%= f.date_field :purchase_date_eq %>
            </div>
            <div class="col-2 my-auto" >
              <%= f.label :shape_id, style: "display: block" %>
              <%= f.select :shape_id_eq, options_from_collection_for_select(@shape_list, :id, :name, 1), include_blank: true %>
            </div>
            <div class="col-2 my-auto" >
              <%= f.label :readstatus_id, style: "display: block" %>
              <%= f.select :readstatus_id_eq, options_from_collection_for_select(@readstatus_list, :id, :name, 1), include_blank: true %>
            </div>
            <div class="col-1 my-auto" >
              <div class="row">
                <%= f.label :title %>
                <%= f.search_field :title_cont, include_blank: true %>
              </div>
            </div>
            <div class="col-2 my-auto" >
              <%= f.label :category_id, style: "display: block" %>
              <%= f.select :category_id_eq, options_from_collection_for_select(@category_list, :id, :name, 1), include_blank: true %>
            </div>

            <div class="col-2 d-flex align-items-end" >
              <%= f.submit "検索", class: "btn btn-outline-secondary" %>
              <%= link_to "クリア", kindlelists_path, class: "btn btn-outline-secondary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card-body mx-3">
    <%= turbo_frame_tag "kindlelist-list" do %>
      <div class="row py-2">
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :purchase_date) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :shape_id) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :readstatus_id) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :title) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :category_id) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :publisher) %>
        </div>
        <div class="col-4 mt-auto">
          <%= sort_link(@search, :author) %>
        </div>
        <div class="col-4 d-flex justify-content-end">
          <%= link_to icon_with_text("plus-circle", "登録"),
                      new_kindlelist_path,
                      class: "btn btn-outline-primary",
                      data: { turbo_frame: dom_id(Kindlelist.new) } %>
        </div>
      </div>

      <%= turbo_frame_tag Kindlelist.new %>

      <div id="kindlelists">
        <%= render @kindlelists %>
      </div>

      <div class="d-flex justify-content-end mt-3">
        <%= paginate @kindlelists %>
      </div>
    <% end %>
  </div>
