<%# 全体を`turbo_frame_tag`で囲う %>
<%= turbo_frame_tag booklist  do %>
    <tr id="<%= dom_id booklist %>">
        <td><div class="col-14 my-auto" class="row py-2 border-top">　
        <%= booklist.purchase_date %>
        </div></td>
        <td><%= booklist.totalID %></td>
        <td><div class="row py-2 border-top">
            <div class="col-6 my-auto">
            <%= booklist.title %>
            </div></div></td>
        <td><%= booklist.asin %></td>
        <td><%= booklist.read_status %></td>
        <td><%= booklist.category %></td>
        <td><%= booklist.shape %></td>
        <td><%= link_to "編集", edit_booklist_path(booklist), class: "btn btn-sm btn-outline-primary me-2" %></td>
        <td><%= button_to "削除", booklist, method: :delete, class: "btn btn-sm btn-outline-danger" %></td>
    </tr>
<% end %>