<div id="<%= dom_id booklist %>">
    <strong>Totalid:</strong>
    <%= booklist.totalID %>
    <strong>Purchase date:</strong>
    <%= booklist.purchase_date %>
    <strong>Title:</strong>
    <%= booklist.title %>

    <strong>Asin:</strong>
    <%= booklist.asin %>

    <strong>Read status:</strong>
    <%= booklist.read_status %>

    <strong>Shape:</strong>
    <%= booklist.shape %>

    <strong>Category:</strong>
    <%= booklist.category %>

</div>
