<% # 全体を`turbo_frame_tag`で囲う %>
<%= turbo_frame_tag booklist do %>
    <div class="container" >
        <div class="row py-2 border-top" >
            <div class="col-1">
                <div class="col"><%= booklist.purchase_date %></div>
            </div>
            <div class="col-1 mt-auto">
                <div class="col"><%= booklist.shape.name %></div>
            </div>
            <div class="col-1 mt-auto">
                <div class="col"><%= booklist.readstatus.name %></div>
            </div>
            <div class="col-3 mt-auto">
                <div class="col"><%= booklist.title %></div>
            </div>
            <div class="col-1 mt-auto">
                <div class="col"><%= booklist.asin %></div>
            </div>
            <div class="col-1 mt-auto">
                <div class="col"><%= booklist.category.name %></div>
            </div>
            <div class="col-2 mt-auto">
                <div class="col"><%= booklist.bookstore.name %></div>
            </div>
            <div class="col-2 d-flex align-items-end" >
                <div class="col"><%= link_to "編集", edit_booklist_path(booklist), class: "btn btn-sm btn-outline-primary me-2" %></div>
                <div class="col"><%= button_to "削除", booklist, method: :delete, class: "btn btn-sm btn-outline-danger", form: { data: { turbo_confirm: "本当に削除しますか？" } } %></div>
                <div class="col"><%= button_to "読了", booklist, method: :delete, class: "btn btn-sm btn-outline-danger", form: { data: { turbo_confirm: "本当に削除しますか？" } } %></div>
            </div>
        </div>
    </div>
<% end %>