<div id="<%= dom_id booklist %>">
  <p>
    <strong>Totalid:</strong>
    <%= booklist.totalID %>
  </p>

  <p>
    <strong>Xid:</strong>
    <%= booklist.xid %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= booklist.purchase_date %>
  </p>

  <p>
    <strong>Bookstore:</strong>
    <%= booklist.bookstore %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= booklist.title %>
  </p>

  <p>
    <strong>Asin:</strong>
    <%= booklist.asin %>
  </p>

  <p>
    <strong>Read status:</strong>
    <%= booklist.read_status %>
  </p>

  <p>
    <strong>Shape:</strong>
    <%= booklist.shape %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= booklist.category %>
  </p>

</div>
