<%# 全体を`turbo_frame_tag`で囲う %>
<%# 編集リンクをクリックすると、_cat.html.erbの<turbo-frame>部分がこの部分に置換される %>
<%= turbo_frame_tag booklist do %>

<%# bootstrap_formを使ったフォームでは、form_withの代わりにbootstrap_form_withを使う %>
<%# バリデーションエラーの表示はbootstrap_formが用意してくれるので、自前で用意する必要がなくなる %>
<%= bootstrap_form_with(model: booklist) do |form| %>

 <%# ラベルはbootstrap_formが用意してくれるので、自前で用意する必要がなくなる %>
 <%# Bootstrapのclass属性もbootstrap_formが設定してくれるので、自前で用意する必要はない %>
 <div class="row">
 <div class="col-sm">
 <%= form.text_field :purchase_date,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
  %>
 </div>
 <div class="col-sm">
 <%= form.text_field :totalID,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
  %>
 </div>
 <div class="col-sm">
 <%= form.text_field :title,
                            skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
 
 %>
 </div>
 <div class="col-sm">
 <%= form.text_field :asin, 
                             skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"

 %>
 </div>
 <div class="col-sm">
 <%= form.number_field :read_status,
                             skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
 %>
 </div>
 <div class="col-sm">
 <%= form.number_field :shape,
                             skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
 %>
</div>
 <div class="col-sm">
 <%= form.text_field :category,
                             skip_label: true,
                            label_as_placeholder: true,
                            wrapper: false,
                            control_class: "form-control form-control-sm"
 %>
</div>
</div>

<div class="col-4">
    <div class="d-flex justify-content-end">
        <%# Bootstrapのprimary色のsubmitボタン %>
        <%= form.primary class: "btn btn-primary btn-sm me-2" %>
        <%= link_to "キャンセル", booklist, class: "btn btn-sm btn-outline-secondary" %>
    </div>
</div>

<% end %>
<% end %>
