<p style="color: green"><%= notice %></p>

<h1>Booklists2123456</h1>

<!-- 見出し -->
<h4 class="fw-bold">
  <span class="me-1">🐱</span>
  <span>ねこ</span>111
</h4>

<!-- 検索フォーム -->
<div class="card shadow mt-3">
  <div class="card-header">
    <%= icon_with_text("search", "検索条件2") %>
  </div>

  <div class="card-body">
    <%= search_form_for(
         @search,
        html: {
          data: {
            turbo_frame: "cats-list",
            controller: "form",
            action: "input->form#submit"
          }
       } ) do |f| %>
      <div class="row g3 mb-3">
        <div class="col-4 col-xl-2">
          <%= f.label :name_cont, "名前", class: "form-label" %>
          <%= f.search_field :name_cont, class: "form-control" %>
        </div>
        <div class="col-4 d-flex align-items-end">
          button_tag(icon_with_text("search", "検索"), class: "btn btn-primary me-1") 
          <%= button_tag(icon_with_text("search", "検索"), class: "btn btn-primary me-1") %>
        </div>
        <div class="col-4 col-xl-2">
          <%= f.label :age_eq, "年齢", class: "form-label" %>
          <%= f.search_field :age_eq, class: "form-control" %>
        </div>
        <div class="col-4 d-flex align-items-end">
          button_tag(icon_with_text("search", "検索"), class: "btn btn-primary me-1") 
          <%= button_tag(icon_with_text("search", "検索"), class: "btn btn-primary me-1") %>
          <%= link_to "リセット", cats_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="booklists">
  <table>
  <th>
  </th>
  <tbody>
  <% @booklists.each do |booklist| %>
    <%= render booklist %>
    <p>
      <%= link_to "Show this booklist", booklist %>
    </p>
  <% end %>
  </tbody>
  </table>
</div>

<%= link_to "New booklist", new_booklist_path %>
