<div class="d-flex flex-column flex-shrink-0 py-3 px-3 bg-dark text-white vh-100">
  <div class="d-flex align-items-center justify-content-center py-2">
    <%= link_to "AMS", root_path, class: "text-white display-6 text-decoration-none" %>
  </div>
  <hr />

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= sidebar_link_to(booklists_path, "ðŸ±", "booklist") %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to(calibrelists_path, "ðŸ¶", "calibrelist") %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to(kindlelists_path, "ðŸ£", "kindlelist") %>
    </li>
    <li class="nav-item">
      <%= sidebar_link_to(readinglists_path, "ðŸ¦”", "readinglist") %>
    </li>
  </ul>
</div>
